<div class="main-container">
    <div fxLayout="row" fxLayoutAlign="center center">
        <h1>Book Your Ticket</h1>
    </div>
    <form [formGroup]="usersearchForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="column" fxLayoutGap.lg="20px" fxLayoutGap.xl="20px" fxLayoutGap.md="20px">
            <div fxFlex="30">
                <mat-form-field appearance="outline" class="matformfield" [ngClass]="{ sm: screensize==='xs'|| screensize==='sm' }">
                    <mat-label class="placeholder">From</mat-label>
                    <input 
                        matInput 
                        type="text" 
                        formControlName="fromcity" 
                        [matAutocomplete]="fromcity"
                    >
                    <span matPrefix><mat-icon class="material-icons-outlined" style="margin-right: 5px;">room</mat-icon>&nbsp;</span>
                    <mat-hint *ngIf="usersearchForm.get('fromcity').touched && !usersearchForm.get('fromcity').value">Please select departure city</mat-hint>
                    <mat-autocomplete #fromcity="matAutocomplete" class="matautocompletepanel">
                        <mat-option *ngFor="let option of filteredcitynamefordeparture | async" [value]="option" (click)="goto(1)">
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxFlex="30">
                <mat-form-field appearance="outline" class="matformfield" [ngClass]="{ sm: screensize==='xs'|| screensize==='sm' }">
                    <mat-label class="placeholder">To</mat-label>
                    <input 
                        matInput 
                        type="text" 
                        #focustocity
                        formControlName="tocity"
                        [matAutocomplete]="tocity"
                    >
                    <span matPrefix><mat-icon class="material-icons-outlined" style="margin-right: 5px;">room</mat-icon>&nbsp;</span>
                    <mat-hint *ngIf="usersearchForm.get('tocity').touched && !usersearchForm.get('tocity').value">Please select your destination city</mat-hint>
                    <mat-autocomplete #tocity="matAutocomplete" class="matautocompletepanel">
                        <mat-option *ngFor="let option of filteredcitynamefordestination | async" [value]="option" (click)="goto(2)">
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="column" fxLayoutGap.lg="20px" fxLayoutGap.xl="20px" fxLayoutGap.md="20px">
            <div fxFlex="30">
                <mat-form-field appearance="outline" class="matformfield" [ngClass]="{ sm: screensize==='xs'|| screensize==='sm' }">
                    <mat-label class="placeholder">Date of journey</mat-label>
                    <input 
                        matInput 
                        [matDatepicker]="picker" 
                        (click)="picker.open()" 
                        formControlName="dateofjourney" 
                        readonly 
                        [min]="getminvaliddate()" 
                        [max]="getmaxvaliddate()"
                        #focusdateofJoureny
                    >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <span matPrefix><mat-icon class="material-icons-outlined" style="margin-right:9px;">schedule</mat-icon>&nbsp;</span>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint *ngIf="usersearchForm.get('dateofjourney').touched && !usersearchForm.get('dateofjourney').value">Joureny date is required</mat-hint>
                </mat-form-field>
            </div>
            <div fxFlex="30">
                <mat-form-field appearance="outline" class="matformfield" [ngClass]="{ sm: screensize==='xs'|| screensize==='sm' }">
                    <mat-label class="placeholder">Date of return (Optional)</mat-label>
                    <input 
                        matInput 
                        [matDatepicker]="picker1" 
                        (click)="picker1.open()" 
                        formControlName="retofjourney" 
                        readonly 
                        [min]="getminvaliddate()" 
                        [max]="getmaxvaliddate()"
                    >
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <span matPrefix><mat-icon class="material-icons-outlined" style="margin-right:9px;">schedule</mat-icon>&nbsp;</span>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex.lt-md="100" [ngClass]="{ sm: screensize==='xs'|| screensize==='sm'}">
                <button mat-raised-button type="submit" [disabled]="usersearchForm.invalid" style="background-color: azure;"><mat-icon class="material-icons-outlined">search</mat-icon>Search Buses</button>
            </div>
        </div>
    </form>
</div>
