.app-header {
    position: fixed;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    width: 100%;
    
}

.active {
    border: 1px solid #fff;
}

.mattoolbar1 {
    padding-left: 0px !important;
    height: 80px;
    .vl {
        border-left: 1px solid #cfd5e3;
        height: 80px;
        opacity: 1;
    }
    
    .largescalelogo {
        width: 100px;
        height: 80px;
    }
    
    .smallscalelogo {
        width: 80px;
        height: 80px;
        margin-left: -6px;
    }
    a {
        text-decoration: none;
    }
}

.toolbar-container {
    width: 100%;
    max-width: calc((100% - (100vw - 1328px)));
    margin: 0 auto;
}

.mattoolbar2 {
    background-color: rgba(117, 19, 93, 1);
    color: #fff;
    height: 70px;
    //max-width: calc((100% - (100vw - 1328px)));
    a {
        font-size: 16px;
        text-decoration: none;
    }
    .material-icons-two {
        font-size: 20px;margin-right: 5px;
    }
}
.accountlogin-big {
    margin-left:20px;
}
.accountlogin-small {
    margin-left: 10px;
    cursor: pointer;
}