<div class="faq-main">
    <div class="faq-container">
        <h1>Frequently Asked Questions(FAQ)</h1>
        <div class="faq-wrapper">
            <h2>Get answers to your queries</h2>
            <hr>
            <div fxLayout="row" fxLayout.lt-sm="column">
                <div fxFlex="20">
                    <h2>Booking</h2>
                </div>
                <div class="expansion-panel" fxFlex="80">
                    <mat-accordion displayMode="flat">
                        <mat-expansion-panel *ngFor="let item of secA">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                {{ item.question }}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>{{ item.answer }}</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <hr>
            <div fxLayout="row" fxLayout.lt-sm="column">
                <div fxFlex="20">
                    <h2>Payment</h2>
                </div>
                <div class="expansion-panel" fxFlex="80">
                    <mat-accordion displayMode="flat">
                        <mat-expansion-panel *ngFor="let item of secB">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                {{ item.question }}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>{{ item.answer }}</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <hr>
            <div fxLayout="row" fxLayout.lt-sm="column">
                <div fxFlex="20">
                    <h2>Refunds</h2>
                </div>
                <div class="expansion-panel" fxFlex="80">
                    <mat-accordion displayMode="flat">
                        <mat-expansion-panel *ngFor="let item of secC">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                {{ item.question }}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>{{ item.answer }}</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <hr>
        </div>
        <div class="faq-bottom">
            <h2>Can't find what you're looking for? Our customer care team are here to help.</h2>
            <p>Email: support@ticketlagbe.com | Phone: +880-1838975373</p>
        </div>
    </div>
</div>
