<div class="faq-container">
    <h1>Frequently Asked Questions(FAQ)</h1>
    <div class="faq-wrapper">
        <h2>Get answers to your queries</h2>
        <hr>
        <div fxLayout="row" fxLayout.lt-sm="column">
            <div fxFlex="20">
                <h2>Booking</h2>
            </div>
            <div class="expansion-panel" fxFlex="80">
                <mat-accordion displayMode="flat">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                            How can i cancel my bus ticket
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>You can cancel your bus tickets on VOWBUS website or mobile App from My journeys section. Select the ticket you wish to cancel and you will see a Cancel button at the bottom of the ticket. Click on it to select seats for cancellation and view cancellation charges applicable. You can then acknowledge it to proceed with Cancellation. Depending on the operator there are seperate cancellation policy and you may not be allowed to cancel ticket before certain hours from Departure time. To know more on operator specific cancellation time limits and charges, click here Ticket cancellation policy.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                            How do I print/download my e-ticket
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>You can print your ticket from the website - "View Ticket" menu option. Enter your TR / PNR number and your mobile number provided during booking. You can print the ticket or download as PDF.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                            Do I need an ID Proof while booking ticket?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>A government provided ID proof is required to board the bus. However you need not enter the details during booking.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <hr>
        <div fxLayout="row" fxLayout.lt-sm="column">
            <div fxFlex="20">
                <h2>Payment</h2>
            </div>
            <div class="expansion-panel" fxFlex="80">
                <mat-accordion displayMode="flat">
                    <mat-accordion displayMode="flat">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                How do I pay?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>You can cancel your bus tickets on VOWBUS website or mobile App from My journeys section. Select the ticket you wish to cancel and you will see a Cancel button at the bottom of the ticket. Click on it to select seats for cancellation and view cancellation charges applicable. You can then acknowledge it to proceed with Cancellation. Depending on the operator there are seperate cancellation policy and you may not be allowed to cancel ticket before certain hours from Departure time. To know more on operator specific cancellation time limits and charges, click here Ticket cancellation policy.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                Payment deduced but not booking done?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>You can cancel your bus tickets on VOWBUS website or mobile App from My journeys section. Select the ticket you wish to cancel and you will see a Cancel button at the bottom of the ticket. Click on it to select seats for cancellation and view cancellation charges applicable. You can then acknowledge it to proceed with Cancellation. Depending on the operator there are seperate cancellation policy and you may not be allowed to cancel ticket before certain hours from Departure time. To know more on operator specific cancellation time limits and charges, click here Ticket cancellation policy.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                Are there any hidden charges ( Service Charge or tax)?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>You can cancel your bus tickets on VOWBUS website or mobile App from My journeys section. Select the ticket you wish to cancel and you will see a Cancel button at the bottom of the ticket. Click on it to select seats for cancellation and view cancellation charges applicable. You can then acknowledge it to proceed with Cancellation. Depending on the operator there are seperate cancellation policy and you may not be allowed to cancel ticket before certain hours from Departure time. To know more on operator specific cancellation time limits and charges, click here Ticket cancellation policy.</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-accordion>
            </div>
        </div>
        <hr>
        <div fxLayout="row" fxLayout.lt-sm="column">
            <div fxFlex="20">
                <h2>Refunds</h2>
            </div>
            <div class="expansion-panel" fxFlex="80">
                <mat-accordion displayMode="flat">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                            How will I get my refund?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>You can cancel your bus tickets on VOWBUS website or mobile App from My journeys section. Select the ticket you wish to cancel and you will see a Cancel button at the bottom of the ticket. Click on it to select seats for cancellation and view cancellation charges applicable. You can then acknowledge it to proceed with Cancellation. Depending on the operator there are seperate cancellation policy and you may not be allowed to cancel ticket before certain hours from Departure time. To know more on operator specific cancellation time limits and charges, click here Ticket cancellation policy.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                            Refund ammount not yet credited to my account?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>You can cancel your bus tickets on VOWBUS website or mobile App from My journeys section. Select the ticket you wish to cancel and you will see a Cancel button at the bottom of the ticket. Click on it to select seats for cancellation and view cancellation charges applicable. You can then acknowledge it to proceed with Cancellation. Depending on the operator there are seperate cancellation policy and you may not be allowed to cancel ticket before certain hours from Departure time. To know more on operator specific cancellation time limits and charges, click here Ticket cancellation policy.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>