<div class="howtobuy" fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column">
    <div fxFlex="80" fxLayoutAlign="space-around center" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="50" fxFlex.lt-md="100"><h1>HOW TO BUY?</h1></div>
        <div fxFlex="50" fxFlex.lt-md="100">
            <mat-tab-group animationDuration="1000ms" style="padding:20px">
                <mat-tab label="STEP 1">
                    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="start center" style="padding:20px" fxLayoutGap="10px">
                        <div class="mattabicon">
                            <mat-icon class="material-icons-outlined" class="maticon">search</mat-icon>
                        </div>
                        <div>
                            <h2 style="font-weight: 600;color: rgb(112, 228, 77);">Search</h2>
                            <p>
                                Choose your origin, destination, journey dates and search for buses
                            </p> 
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="STEP 2">
                    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="start center" style="padding:20px" fxLayoutGap="10px">
                        <div class="mattabicon">
                            <mat-icon class="material-icons-outlined" class="maticon">directions_bus</mat-icon>
                        </div>
                        <div>
                            <h2 style="font-weight: 600;color: rgb(112, 228, 77);">Book</h2>
                            <p>
                                Select your desired trip and choose your seats
                            </p> 
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="STEP 3">
                    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="start center" style="padding:20px" fxLayoutGap="10px">
                        <div class="mattabicon">
                            <mat-icon class="material-icons-outlined" class="maticon">attach_money</mat-icon>
                        </div>
                        <div>
                            <h2 style="font-weight: 600;color: rgb(112, 228, 77);">Pay</h2>
                            <p>
                                Pay for the tickets via Debit / Credit Cards, bKash or cash
                            </p> 
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>