<div mat-dialog-title>
    <div fxLayout="row" fxLayoutAlign="end">
        <button mat-icon-button mat-dialog-close class="dialog-close"><mat-icon>close</mat-icon></button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <img src="https://s3.amazonaws.com/logosnap/logos/2021/Jul/original-9769-610043b9b4c9fwm.png" alt="Logo" class="img_res">
    </div>
    <div class="dialogcontainer">
        <form>
            <div fxLayout="row" fxLayoutAlign="center">
                <div fxFlex="100">
                    <mat-form-field class="matformfield" appearance="outline">
                        <mat-label class="placeholder">Email or Mobile No*</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="isloginMode">
                <div fxFlex="100">
                    <mat-form-field class="matformfield" appearance="outline">
                        <mat-label class="placeholder">Password*</mat-label>
                        <input type="password" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="!isloginMode">
                <div fxFlex="100">
                    <mat-form-field class="matformfield" appearance="outline">
                        <mat-label class="placeholder">New Password*</mat-label>
                        <input type="password" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="!isloginMode">
                <div fxFlex="100">
                    <mat-form-field class="matformfield" appearance="outline">
                        <mat-label class="placeholder">Confirm New Password*</mat-label>
                        <input type="password" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" class="submitform">
                <div fxFlex="100" *ngIf="!isProcessing">
                    <div *ngIf="isloginMode;else gotoregister">
                        <button mat-raised-button (click)="processData()"><mat-icon>login</mat-icon>  Login</button>
                    </div>
                    <ng-template #gotoregister>
                        <button mat-raised-button (click)="processData()"><mat-icon>double_arrow</mat-icon>  Sign Up</button>
                    </ng-template>
                </div>
                <div fxFlex="100" *ngIf="isProcessing">
                    <div>
                        <button mat-raised-button><app-loading></app-loading></button>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 5px;" *ngIf="isloginMode" class="matbtn">
                <div><button mat-button [disabled]="isProcessing">Forgot Password?</button></div>
                <div><button mat-button (click)="switchstate()" [disabled]="isProcessing">Sign Up</button></div>
                <!-- <div><a (click)="switchstate()">Sign Up</a></div> -->
            </div>
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="!isloginMode" style="margin-top: 10px;" class="matbtn">
                <p>Already have an account?<button mat-button (click)="switchstate()" [disabled]="isProcessing">Login</button></p>
            </div>
        </form>
    </div>
</div>

<div mat-dialog-content>

</div>
