/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.mat-form-field-no-padding .mat-form-field-wrapper {
    margin-bottom: -1.25em !important;
}

.mat-button-focus-overlay {
    background-color: transparent!important;
}

.mat-dialog {
    mat-dialog-container {
        padding: 0px;
    }
}
.mat-dialog-seat-cotainer {
    mat-dialog-container {
        padding: 0px;
    }
}

.dialog-close {
    mat-icon {
        opacity: 0.5 !important;
    }
    mat-icon:hover {
        opacity: 1 !important;
    }
}
.notify-alert {
    color: #75135d !important;
    background: #fff;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    .mat-simple-snackbar-action {
        color: rgb(207, 14, 14) !important;
    }
}
@media only screen and (max-width:599px)  {
    .mat-dialog-seat-cotainer {
        width: 100% !important;
        height: 100% !important;
    }
}
