<div class="feature-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center">
    <div fxLayout="column" fxLayoutAlign="center center">
        <span class="material-icons">lock</span>
        <h2>100% Paymemt Protection</h2>
        <p>Make payments using UPI,</p>
        <p>Netbanking, Cards and Wallets.</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <span class="material-icons">credit_card</span>
        <h2>Secure Wallet</h2>
        <p>Redeem easily, No minimum</p>
        <p>transaction limit, No expiry.</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <span class="material-icons">confirmation_number</span>
        <h2>Easy Ticket Cancellation</h2>
        <p>Transparent cancellation charges</p>
        <p>and automatic refunds.</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <span class="material-icons">chat</span>
        <h2>Customer Support</h2>
        <p>We're here to help. Have a query</p>
        <p>and need help ? Click here</p>
    </div>
</div>
